/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}

h1 {
    font-size:2em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:1em;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.shouldItem {
    text-align: left;
    font-size: large;
    border: 2px solid black;
    border-radius: 5%;
    margin-bottom: 2em;
    width: 100%;
    background: red;

}


.shouldItem p {
    float:left;
}

.shouldItem img {
    float: left;
}

.shouldItem a {
    text-shadow: none;
    margin-top:10%;

}
.clear {
    clear: both;
}

.homeTop {
	text-align: center;
}

.homeTop h2 {
	font-weight: inherit;
}
.footerButton {
	width: 40%;
	height: 100%;
}

.headerImg {
	max-width:100%;
	margin: auto;
}

#sailIframe {
	width:90% !important;
	height:100% !important;
	border:none !important;
	padding:.1em;
}

h1 {
    font-size: 2em !important;
}

.menuButton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 4em 0em;
    border: .1em solid #a12727;
    border-radius: 1em;
    margin-top:2.5em;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
    background: -moz-linear-gradient(top, #ff4a4a, #992727);
    background: linear-gradient(to bottom, #ff4a4a, #992727);
    -webkit-box-shadow: #380d0d -1em -1em 2.2em 0.3em;
    -moz-box-shadow: #380d0d -1em -1em 2.2em 0.3em;
    box-shadow: #380d0d -1em -1em 2.2em 0.3em;
    text-shadow: #591717 .4em .5em .7em;
    font: normal normal bold 1em georgia;
    color: #ffffff;
    text-decoration: none;
    width:40%;
}
.button:hover,
.button:focus {
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 2em;
    width: 2em;
    line-height: 2em;
    margin: 0 .4em -.6em -.4em;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACrklEQVRIibWWTUsbURSGH0M0qSAEXKiYSBeG7oyaD3HT31CtRuqm7ropkrRuXGQVtYkmtCuL3SrWMP0RbcGtdGmpMDMxgmLQgskkBuZON07Ix2iM1ANnMefOfc6Zl3vOnQ7DMHhM6/ifsNnZuSHgN5CTpIy3LkEsFosAr4GnD2Dnr68rP2VZmQecN7EjScp4O27gf1wu1/Dk5CQDAwNt009OTtja+kK5fN24dGSPxWI/+vv7hxcWFnA6nVb77zRN09jc/GwFB3DbgefhcJiuri6EEG3Bi0WNlZVVVFW1Wi4Dz+x9fX309PSg63rbla+tfUBVs7fCJSmTtTkcDnRdr7osK0Sj75FlpS5e61dXV6yuWsOdTgdDQ55lScpkAWyGYSCEQAiBoqgkEkny+TyJRBJFUatrphcKBRKJJNlsM9zj8TA19YLu7ie/zJgNQNd1FEVhfX0DTdOqEqyvb6AoSl3lyeQG2eyxJXxp6V3TQbEZhoGu66hqtgqv1TmVSqOqKoVCgVQqzfFxM9ztdhONRnA4HDROBrsp0cRECCEE29s7DUlKpNMf6e3tJZfLWcIjkUWcTgdCiOYEpkQAoVAQwxDs7OzWvVQqlSzhg4ODLC6+xTwoQNNRt5sSmRYIBBDCYHf3axOw1kKhIPPzr6gtELCWqLEH/P5xhBDs7WUs4cFggLm5sGXvWEpk1cF+/ziGIchkpLp4IOAnHJ69tetbSlRrY2NjCGEgSd+qSWdmXt7Z9feSqNZGR30IIZBlmenpqZYjpSnB5eVly00+3wg+38i95tXp6Wnds61Sqfw9PDxsGgkP8YuLC87OzojH49+rXwC8OTg4yAgh8Hq9LSu8zc7Pz9nf3wdI1MbNGy0MbHV2drpcLlfb8GKxiKZpZWA5Ho9/qkvw2H8VtkelA/8AfKLRSyOJ9HUAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}

.left {
    float: left;
    margin-left: 1em;
}

.right {
    float: right;
    margin-right:1em;
}

.clear {
    clear: both;
}

.marginBottom {
    margin-bottom: 10%;
}

.noShadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none !important;

}

.center {
    text-align: center;
    margin: 0 auto;
}

.indent {
    margin-left: 3%;
}

.indent p {
    margin-left: 5%;
}